#maincontainer{
    display: flex;
}
#title{
    font-size: 35px;
    font-weight: bold;
    color: goldenrod;
    text-align: center;
    background-color: black;
    padding: 10px;
}
#sponser h3{
    display: inline;
    margin-left: 5px;
}
#sponser{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(167, 187, 189);
    padding: 3px;
}
#heading {
    display: flex;
    align-items:center;
    gap: 5px;
    
}
#addressdetail{
    padding-left: 5%;
    width: 120%;
    border: 1px solid gainsboro;
    border-bottom: 0px;
    margin-top: 10px;
}
#accountexists{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
    margin-right: 20px;
}
#ordersmain{
    border-top: 1px solid gainsboro;
    width: 100%;
    margin-top: 10px;
    max-height:0fr;
}
#orders{
    border-top: 1px solid gainsboro;
    width:70%;
    background-color: rgb(244,244,244);
    padding-left: 30px;
    padding-right: 30px;
    height:100%
}
#orders button{
    padding:12px;
    width: 100%;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#coupon{
    border: 1px solid rgb(85,133,0);
    margin-top: 20px;
    padding: 0px 10px;
    background-color: rgb(242,249,242);
}
#coupon h3{
    margin-bottom: -10px;
}
.itemstotal{
    display: flex;
    justify-content: space-between;
}
#product_details{
    display: flex;
    margin-top: 20px;
}
#promoCode{
    color: deepskyblue;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 12px;
}
#delivery{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 3%;
}
#line{
    width: 97%;
    border-bottom: 1px solid gainsboro;
}
#addressSame{
    display: flex;
}
#addressSame p{
    margin-left: 10px;
    color: #777;
}
#addressSame input{
    width: 15px;
}
#credit_card{
    display: flex;
}
#credit_card input{
    margin-right: 10px;
    width: 15px;
}
#cardNum{
    width: 300px;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    margin-bottom: 25px;
}
#cvv{
    width: 100%;
}
#dateofcard{
    padding: 8px;
    width: 20%;
    border: 1px solid gainsboro;
}
#securitycode{
    width: 21%;;
    padding: 8px;
    border: 1px solid gainsboro;
}
#edetail{
    display: flex;
    gap: 8px;
}
#orderBtn{
    display: flex;
    justify-content: center;
}
#orderBtn button{
    padding: 10px;
    width: 50%;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#orderBtn+p{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#orderBtn+p+p{
    text-align: center;
    font-size: 12px;
}@media only screen and (max-width:650px) and (min-width:100px){
    #maincontainer{
        display: flex;
        flex-direction: column;
    }
    #title{
        width: 100%;
    }#addressdetail{
        width:100%;
    }
    #delivery{
        margin-right: 0px;
    }
    #orders{
        margin: auto;
    }
}
#product_img{
    width:70%;
}