#maincontainer{
    display: flex;
    width: 100%;
}
#title{
    font-size: 35px;
    font-weight: bold;
    color: goldenrod;
    text-align: center;
    background-color: black;
    padding: 10px;
}
#sponser h3{
    display: inline;
    margin-left: 5px;
}
#sponser{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(167, 187, 189);
    padding: 3px;
}
#heading {
    display: flex;
    align-items:center;
    gap: 5px;
    
}
#addressdetail{
    padding-left: 5%;
    width: 75%;
    border: 1px solid gainsboro;
    border-bottom: 0px;
    margin-top: 10px;
}
#accountexists{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
    margin-right: 20px;
}
.inputFlength{
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
    border:1px solid gainsboro;
    border-radius: 5px;
}
.address{
    display:flex;
    margin-bottom: 20px;
    width: 100%;
}
.inputHlength {
    width: 120%;
    padding: 8px;
    border:1px solid gainsboro;
    border-radius: 5px;
}
#delivery{
    display: flex;
    justify-content: space-between;
    background-color: rgb(183, 189, 194);
    margin-right: 18px;
    height: 35px;
    align-items: center;
    padding-right: 10px;
}
#express{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    padding-right: 10px;
}
#express button{
    border: 0px;
    background-color: white;
    color:cornflowerblue;
    cursor: pointer;
}#continueBtn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#continueBtn button{
    padding:12px;
    width: 300px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 2px;
}
#continueBtn button:hover{
    cursor: pointer;
}
#payment{
    border-top: 1px solid gainsboro ;
    border-bottom: 1px solid gainsboro;
    margin-top:20px;
    height:40px;
    display: flex;
    align-items: center;
    margin-right: 18px;
}
#ordersmain{
    border-top: 1px solid gainsboro;
    width: 45%;
    margin-top: 10px;
    max-height:0fr;
}
#orders{
    border-top: 1px solid gainsboro;
    width:70%;
    background-color: rgb(244,244,244);
    padding-left: 30px;
    padding-right: 30px;
    height:100%
}
#orders button{
    padding:12px;
    width: 100%;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#coupon{
    border: 1px solid rgb(85,133,0);
    margin-top: 20px;
    padding: 0px 10px;
    background-color: rgb(242,249,242);
}
#coupon h3{
    margin-bottom: -10px;
}
.itemstotal{
    display: flex;
    justify-content: space-between;
}
#product_details{
    display: flex;
    margin-top: 20px;
}
#promoCode{
    color: deepskyblue;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 12px;
}#fname{
    width:37%;
    margin-right: 5px;
}
#Lname{
    width: 38.5%;
    margin-left: 11%;
    margin-right: 5%;
}
#istreat{
    width:37%;
    margin-right: 5px;
}
#postal{
    width: 38.5%;
    margin-left: 11%;
    margin-right: 5%;
}
#icity{
    width:37%;
    margin-right: 5px;
}
#iregion{
    width: 38.5%;
    margin-left: 11%;
    margin-right: 5%;
}
#iphone{
    width:37%;
    margin-right: 5px;
}
#icountry{
    width: 40%;
    margin-left: 11%;
    margin-right: 5%;
}
@media only screen and (max-width:650px) and (min-width:100px){
    #maincontainer{
        display: flex;
        flex-direction: column;
    }
    #title{
        width: 100%;
    }#addressdetail{
        width:100%;
    }
    #delivery{
        margin-right: 0px;
    }
    #ordersmain{
        margin: auto;
        width: 80%;
    }
}
#product_img{
    width:70%;
}